<div class="ndpl-component__colors ndpl-cf">

                                            <div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background: linear-gradient(#5D6EE9, #5930B7);">
                                                    <div>#5D6EE9<br>#5930B7</div>
                                                </div>

                                            </div>
                                            <div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background: linear-gradient(#C56BD7, #3023AE);">
                                                    <div>#C56BD7<br>#3023AE</div>
                                                </div>

                                            </div>
                                            <div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background: linear-gradient(#51C9F5, #03469F);">
                                                    <div>#51C9F5<br>#03469F</div>
                                                </div>

                                            </div>
                                            <div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background: linear-gradient(#F5515F, #9F031B);">
                                                    <div>#F5515F<br>#9F031B</div>
                                                </div>

                                            </div>
                                            </div>
                                            </div>

                                        </div>
