<div class="ndpl-component__colors ndpl-cf">

                                            <div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background-color: #4934B6;">
                                                    <div>#4934B6</div>
                                                </div>

                                            </div><div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background-color: #CD474D;">
                                                    <div>#CD474D</div>
                                                </div>

                                            </div><div class="ndpl-component__color-container">

                                                <div class="ndpl-component__color" style="background-color: #62B3E5;">
                                                    <div>#62B3E5</div>
                                                </div>

                                            </div>
                                            </div>

                                        </div>
