<div class="container-fluid">
  <img class="img-fluid"  src="./assets/twitchpanels/paneldiscordv3.png"></img>
  <img class="img-fluid"  src="./assets/twitchpanels/panelfbv3.png"></img>
  <img class="img-fluid"  src="./assets/twitchpanels/panelytv3.png"></img>
</div>

{
    "name": "test",
    "title": "Mission",
    "file": "./pages/mission.html"
},
{
    "name": "values",
    "title": "Values",
    "file": "./pages/values.html"
},
{
    "name": "mottos",
    "title": "Mottos",
    "file": "./pages/mottos.html"
}
